html {
    font-family: Arial, Helvetica, sans-serif;

}

html, body {
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
}


header {
    background-color: #414141;
    margin: 0;
    padding: 0;
}

.title {
    color: white;
    margin: 0;
    text-align: center;
    padding: 25px;
}

nav {
    display: inline;

}

nav ul {
    list-style: none;
    background-color: #525252;
    text-align: center;
    margin: 0;
    padding: 0;
}


nav li {
    display: inline-block;
    align-items: center;
    width: 100px;
}

nav li a{
    display: inline-block;
    color: white;
    margin: 0;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    font-size: larger;
}

li.current {
    background-color: #ca3e47;
}

li:hover {
    background-color: #ca3e47;
}

p {
    color: black;
}

footer{
    background-color: #414141;
    margin: 0;
    padding: 0;
}

.foot {
    color: white;
    margin: 0;
    text-align: center;
    padding: 25px;

}

table {
    border-collapse: collapse;
    width: 1000px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;


}

td,
th {
    border: none;
    text-align: left;
    padding: 10px;
}

tr:nth-child(odd) {
    background: #e9e9e9;
}

.search {
    align-items: center;
    text-align: center;
    margin-top: 100px;
}

#search {
    padding: 10px;
    font-size: large;
    width: 500px;

}

button {
    display: inline-block;
    border: none;
    background: none;
    cursor: pointer;
}

img{
    width: 25px;
    height: 25px;
    opacity: 60%;
}

img:hover{
    opacity: 90%;
}

.prompt{
    align-items: center;
    margin: 50px;
}

p.search-page {
    text-align: center;
    color: #525252;

}

p.search-feedback{
    color: #ca3e47;
    font-size: large;
    text-align: center;
    margin-bottom: 40px;
}

p.add-page{
    text-align: center;
    color: #525252;
    margin: 50px;
    font-size: large;

}

p.feedback{
    color: #ca3e47;
    font-size: large;
    text-align: start;

}


label{
    font-size: large;
    color: #525252;

}

input {
    width: 500px;
    height: 30px;
    margin-top: 10px;
    font-size: large;

}

.group_label_input{
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

input[type=submit] {
    color: white;
    background-color: #ca3e47;
    width: 200px;
    height: 50px;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 150px;
    margin-left: 150px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: larger;
}

input[type=submit]:hover {
    background-color: #ca3e47cf;
}

div.citations {
    width: 800px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: large;
}

cite.footer {
    color: white;

}
